header {
    width: 100vw;
    position: fixed;
    z-index: 1;
    background-color: white;
  }
nav {
    width: 100%;
    /* margin: 0 auto; */

    color:rgb(69, 81, 181);
    margin: 20px 30px;
    gap: 1100px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }
  .a1{
    font-size: 30px;

  }
.a2s{
    font-size: 20px;
    display: flex;
    gap: 30px;
    align-items: center;
}

.b2{
  margin: 80px 400px;
  display: flex;
  align-items: center;
  gap: 300px;
}
.b2_1{
  color:rgb(69, 81, 181);
  font-size: 40px;
  font-weight: bold;
}
.b2_2{
  display: flex;
  flex-direction: column;
  border-left: 1px solid rgb(200, 200, 200);
  border-radius: 3px;
  gap: 5px;
  font-size: 15px;
}
.b3{
  width: 100vw;
  display: flex;
  align-items: center;
}
.box{
  gap: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.b3_1{
  gap: 30px;
  color:rgb(69, 81, 181);
}