@font-face {
  font-family: "Cafe24Moyamoya-Regular-v1.0";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/Cafe24Moyamoya-Regular-v1.0.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.text {
  font-family: "Stylish", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 200px;
}
